<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
  <title>Word Games</title>
</head>
<body>
  <h1>Welcome to Word Counter!</h1>
  <a href='/counter/new'>Begin</a>
  <a href='/counter'></a>
</body>
</html>
