@using WordCounter.Models;

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>

  <h1>Your Word Checker</h1>

    <h4>Your Word: @Model.WordToCount</h4>
    <h4>Your Sentence to Check: @Model.SentenceToCheck</h4>
    <h4>Instances of Your Word: @Model.RepeatCounter()</h4>



  <a href="/counter/new">Check another word</a>

  </form>
</body>
</html>
