<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>
  @using WordCounter.Models;

  <h1>Your Word Checker</h1>

  <h4>@Model.WordToCount</h4>


  <a href="/counter/new">Check another word</a>

  </form>
</body>
</html>
