@using WordCounter.Models;

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>

<ul>
@if (Model.Count == 0)
{
  <p>Please Enter a Word and Sentence to Check!</p>
}
@if(Model.Count != 0)
{
  @foreach (Counter counter in Model)
  {
    <li><a href='/counter/@counter.Id'>@counter.WordToCount</a></li>
  }
}
</ul>



  <a href="/counter/new">Check another word</a>

  </form>
</body>
</html>
