<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Word Counter</title>
  </head>
  <body>
    <h1>Check How Many Times Your Word Appears in Your Sentence</h1>

    <form action="/counter" method="post">
      <label for="wordToCount">Add your word</label>
      <input id="wordToCount" name="wordToCount" type="text">
      <label for="sentenceToCheck">Add your sentence</label>
      <input id="sentenceToCheck" name="sentenceToCheck" type="text">
      <button type="submit">Submit</button>
    </form>

  </body>
</html>
